<!DOCTYPE html>
<html lang="en-us" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <title>Loocate | Find A Nearby Public Bathroom</title>
</head>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><span role="img" aria-label="Toilet">🚽</span>&nbsp;Loocate</span>
  <form class="form-inline" role="search">
    <div class="input-group">
      <input id="zipInput" class="form-control y-2 border-right-0 border" type="search" placeholder="Search" aria-label="Search">
      <span class="input-group-append">
        <button id="zipSearchBtn" class="btn btn-outline-secondary border-left-0 border" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
</nav>

<body>
  {{{body}}}
</body>

<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Custom JavaScript -->
<script src="/js/index.js"></script>
<script src="/js/iplookup.js"></script>

</html>