body {
  background-color: #ffffff;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.card {
  border: none;
  border-radius: 0;
}

label {
  font-size: 13px;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}